version: "3"

services:
  app:
    build:
      dockerfile: Dockerfile
      context: .
    container_name: django-tutorial-app
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    tty: true
    
    # command: >
    #   sh -c "python manage.y runserver 0.0.0.0:8000" 